<mat-sidenav-container class="example-container">
    <mat-sidenav position="end" #drawer mode="over" class="drawer">
        <h3 class="title">Filtry</h3>
        <mat-label class="inputs-position">
            <app-filters-options></app-filters-options>
            <app-columns-filters></app-columns-filters>
        </mat-label>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-fab (click)="drawer.toggle()" class="fab-bottom-right" color="primary"
            aria-label="Example icon button with a delete icon">
            <img src="../../../assets/tune.png" alt="">
        </button>
        <div class="container">
            <app-tabela></app-tabela>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>