

.eat-bottom-right {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100;
}
.card-image{
    content: url(../../../assets/image-placeholder.jpg);
    width: 120px;
    margin: 0 auto;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
}
.capture{
    border-radius: 5px;
}
.content {
width: 260px;
margin: 0 auto;
}
.modal-eat{
    margin-left: 2px;
    margin-right: 2px;
}
.word-wraping{
    word-wrap: break-word;
}