<div class="modalContentContainer">

  <h1 mat-dialog-title class="modalTitle">
    {{ title }}
    <div class="rightCross">
      <img class="cancelCross" (click)="onNoClick()" src="../../../assets/cancel.png" alt="" />
    </div>
  </h1>

  <div class="content">
    <section class="img">
      <div class="modalImagePlaceholder"></div>

    </section>
    <div mat-dialog-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-label>Nazwa:</mat-label>{{data.product.name}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-label>Ilość:</mat-label>{{data.product.quantity}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-label>Waga:</mat-label>{{data.product.weight }}{{data.product.units }}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-label>Węglowodany:</mat-label>{{data.product.carbohydrates}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-label>Energia:</mat-label>{{data.product.energy}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-label>Tłuszcz:</mat-label>{{data.product.fat}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-label>Białko:</mat-label>{{data.product.proteines}}
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div mat-dialog-actions class="eat-bottom-right">
    <button mat-raised-button color="primary" (click)="eatProduct()">Zjedz</button>
  </div>
</div>