<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="over" class="drawer">
    <h3 class="title">Menu</h3>
    <mat-label class="inputs-position">
      <button mat-button color="primary" class="label-button" routerLink="lodowka">Lodowka</button><br>
      <button mat-button color="primary" class="label-button" routerLink="tabelaKalorii">Tabela</button><br>
      <div _ngcontent-eps-c192="" class="actions ng-tns-c192-3">
        <!--bindings={}-->
        <!--bindings={}--><button _ngcontent-eps-c192="" color="warn" mat-stroked-button=""
          class="mat-focus-indicator sign-out-button action-button ng-tns-c192-3 mat-stroked-button mat-button-base mat-warn"
          ng-reflect-color="warn"><span class="mat-button-wrapper">Sign out</span><span matripple=""
            class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false"
            ng-reflect-trigger="[object HTMLButtonElement]"></span><span
            class="mat-button-focus-overlay"></span></button>
      </div>
    </mat-label>
  </mat-sidenav>
  <mat-sidenav position="end" [opened]="drawerRightService.open" mode="over" class="drawerEnd">
    <h3 class="title">Filtry</h3>
    <mat-label class="inputs-position">
      <app-filters-options></app-filters-options>
      <app-columns-filters></app-columns-filters>
    </mat-label>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style=" left: 0 ; right: 0;top: 0; width: 100%;  position: fixed; z-index: 100;">
      <button mat-button (click)="drawer.toggle()">
        <img style="height: 30px;" src="../assets/menu.png" alt="menu">
      </button>
      <img *ngIf="user" [src]="user.photoURL">

    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>