<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="over" class="drawer">
    <h3 class="title">Menu</h3>
    <div class="sidenav">
      <a routerLink="user">Użytkownik</a>
      <a routerLink="lodowka">Lodowka</a>
      <a routerLink="tabelaKalorii">Tabela kalorii </a>
    </div>
  </mat-sidenav>
  <mat-sidenav position="end" [opened]="drawerRightService.open" mode="over" class="drawerEnd">
    <h3 class="title">Filtry</h3>
    <mat-label class="inputs-position">
      <app-filters-options></app-filters-options>
      <app-columns-filters></app-columns-filters>
    </mat-label>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="user" color="primary"
      style=" left: 0 ; right: 0;top: 0; width: 100%;  position: fixed; z-index: 100;">
      <button mat-button (click)="drawer.toggle()">
        <img style="height: 30px;" src="../assets/menu.png" alt="menu">
      </button>
      <img *ngIf="user" routerLink="user" class="profile-photo" [src]="user.photoURL">

    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>