<div class="container" *ngIf="productsList.length == 0 ">
    <mat-label class="header">
        <h1 class="header-title">Tabela kaloryczna</h1>
    </mat-label>
    <mat-label class="header">
        <p class="add-u-f-p">W wybranym miesiącu nic nie zjadłeś.<br>Kliknij przycisk poniżej i wprowadz inną datę
        </p>
    </mat-label>
</div>
<div class="container" *ngIf="productsList.length !== 0 ">
    <mat-label class="header ">
        <h1 class="header-title">Podsumowanie kaloryczne</h1>
    </mat-label>
    <div class="summary-calorical">
        <table mat-table [dataSource]="sumSource" class="mat-elevation-z1 table-sum">
            <ng-container matColumnDef="caloriesSum" sticky>
                <th mat-header-cell *matHeaderCellDef> Kalorie </th>
                <td mat-cell *matCellDef="let element"> {{element.caloriesSum | number}}kcl </td>
            </ng-container>

            <ng-container matColumnDef="carbohydratesSum">
                <th mat-header-cell *matHeaderCellDef> Węglowdany </th>
                <td mat-cell *matCellDef="let element"> {{element.carbohydratesSum | number}}ww </td>
            </ng-container>

            <ng-container matColumnDef="proteinesSum">
                <th mat-header-cell *matHeaderCellDef> Baiałko </th>
                <td mat-cell *matCellDef="let element"> {{element.proteinesSum | number}}g
                </td>
            </ng-container>

            <ng-container matColumnDef="fatSum">
                <th mat-header-cell *matHeaderCellDef> Tłuszcz </th>
                <td mat-cell *matCellDef="let element"> {{element.fatSum | number}}g </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedSumColumns"></tr>
            <tr mat-row class="tr-sum" *matRowDef="let row; columns: displayedSumColumns;"></tr>
        </table>
    </div>

    <div class="calories-table" *ngIf="productsList.length !== 0 ">
        <mat-label class="header sticky-header">
            <h1 class="header-title header-title-calories-table ">Tabela kaloryczna</h1>
        </mat-label>
        <div class="mat-elevation-z2 table-container ">
            <table mat-table matSort [dataSource]="dataSource">
                <div matColumnDef="eatenDate" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Zjedzono </th>
                    <td mat-cell *matCellDef="let element" class="eatenDate"> {{ element.eatenDate | date:'short' }}
                    </td>
                </div>
                <div matColumnDef="name" sticky >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table  index-for-header"> Nazwa
                    </th>
                    <td mat-cell *matCellDef="let element"> {{(element.name?.length>10)? (element.name | slice:0:10)+'..':(element.name)}} </td>
                </div>
                <!-- <div matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Ilość </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </div> -->
                <div matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Ilość </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight | number}}{{ element.units }}</td>
                </div>
                <div matColumnDef="calories">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Kalorie </th>
                    <td mat-cell *matCellDef="let element"> {{element.calories | number}}kcl </td>
                </div>
                <div matColumnDef="carbohydrates">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Węglowodany </th>
                    <td mat-cell *matCellDef="let element"> {{element.carbohydrates | number}}ww </td>
                </div>
                <div matColumnDef="proteines">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Białko </th>
                    <td mat-cell *matCellDef="let element"> {{element.proteines | number}}g </td>
                </div>
                <vr matColumnDef="fat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Tłuszcz </th>
                    <td mat-cell *matCellDef="let element"> {{element.fat | number}}g </td>
                </vr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

</div>
<app-filters-button></app-filters-button>