table {
    width: 100%;
}

th,
td {
    vertical-align: middle;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-container {
    height: calc(100vh - 56px);
    overflow: auto;
}

.add-u-f-p {
    text-align: center;
    margin-top: 30vh;
    width: 100%;
    font-weight: 650;
}

.tr-sum {
    text-align: center;
}

.th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    text-align: justify;
    padding: 3px;
}

.summary-calorical {
    overflow: auto;
}