<div>
  <!-- <div *ngIf="user">Hello {{ user.displayName }}</div> -->

  <!-- <div *ngFor="let product of products">
    <app-product-card [product]="product"></app-product-card>
  </div> -->

  <mat-grid-list [cols]="breakpoint" rowHeight="fit" style="height: 300px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let product of products" style="background-color: aqua; margin: 4px;">
      <app-product-card [product]="product"></app-product-card>
    </mat-grid-tile>
  </mat-grid-list>

  <app-add-product-button></app-add-product-button>
</div>