<form class="modalContentContainer" [formGroup]="eatProductForm" (ngSubmit)="submited()">
    <h1 mat-dialog-title class="modalTitle">
        {{ title }}
        <div class="rightCross">
            <img class="cancelCross" (click)="closeModal()" src="../../../assets/cancel.png" alt="" />
        </div>
    </h1>
    <div mat-dialog-content class="content">
        <h3 class="hint">Zjadana ilość:</h3>
        <mat-slider thumbLabel [displayWith]="formatLabel(data.product.units)" step="1" min="0" [max]="data.product.weight"></mat-slider>
    </div>
    <button mat-raised-button color="primary" type="submit">
        Zjedz
    </button>
</form>