<form class="modalContentContainer" [formGroup]="eatProductForm" (ngSubmit)="submited()">
    <h1 mat-dialog-title class="modalTitle">
        <div class="rightCross">
            <img class="cancelCross" (click)="closeModal()" src="../../../assets/cancel.png" alt="" />
        </div>
    </h1>
    <div mat-dialog-content class="content">
        <h3 class="hint">Zjadana ilość: {{quantity.value | number}}{{data.product.units}}</h3>
        <mat-slider formControlName="quantity" step="1"
            (input)="quantity.setValue($event.value)"
            min="0" [max]="data.product.weight"></mat-slider>
    </div>
    <button mat-raised-button color="primary" type="submit">
        Zjedz
    </button>
</form>