<form class="modalContentContainer" [formGroup]="addProductForm" (ngSubmit)="submited()">
  <h1 mat-dialog-title class="modalTitle">
    {{ title }}
    <div class="rightCross">
      <img class="cancelCross" (click)="closeModal()" src="../../../assets/cancel.png" alt="" />
    </div>
  </h1>
  <div mat-dialog-content class="content">
    <section class="img">
      <div class="modalImagePlaceholder"></div>
      <mat-form-field class="">
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="name" placeholder="Jabłko" />
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">Nazwa jest wymagana</div>
          <div *ngIf="name.errors.pattern">Dozwolone tylko litery</div>
        </mat-error>
      </mat-form-field>
    </section>
    <section class="caloricValue">
      <label>Ilość: </label>
      <mat-slider formControlName="quantity" style="width: 70%;"></mat-slider>{{addProductForm.value.quantity}}
      <br>
      <mat-radio-group class="units" formControlName="units" aria-label="Select an option">
        <mat-radio-button color="primary" class="radio-b" value="kg"></mat-radio-button>
        <mat-label>KG</mat-label>
        <mat-radio-button color="primary" class="radio-b" value="g"></mat-radio-button>
        <mat-label>G</mat-label>
        <mat-radio-button color="primary" class="radio-b" value="l"></mat-radio-button>
        <mat-label>L</mat-label>
        <mat-radio-button color="primary" class="radio-b" value="mil"></mat-radio-button>
        <mat-label>MIL</mat-label>
        <mat-error *ngIf="units.invalid && (units.dirty || units.touched)">
          <div *ngIf="units.errors.required">Jednostka wagi jest wymagana</div>
        </mat-error>
      </mat-radio-group>
      <mat-form-field class="example-full-width">
        <mat-label>Waga: </mat-label>
        <input matInput formControlName="weight" type="number" placeholder="10" />
        <mat-error *ngIf="weight.invalid && (weight.dirty || weight.touched)">
          <div *ngIf="weight.errors.required">Waga jest wymagana</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 190px;">
        <mat-label>Energia</mat-label>
        <input matInput formControlName="energy" type="number" placeholder="134kcl" />
        <span matSuffix>kcl</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 190px;">
        <mat-label>Węglowodany</mat-label>
        <input matInput formControlName="carbohydrates" type="number" placeholder="125" />
        <span matSuffix>ww</span>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Białko</mat-label>
        <input matInput formControlName="proteines" type="number" placeholder="30g" />
        <span matSuffix>g</span>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Tłuszcze</mat-label>
        <input matInput formControlName="fat" type="number" placeholder="12g" />
        <span matSuffix>g</span>
      </mat-form-field>
    </section>
  </div>
  <div mat-dialog-actions style="justify-content: center">
    <button mat-raised-button [mat-dialog-close]="product">Wczytaj dane z wagi</button>
    <button mat-raised-button color="primary" type="submit">
      Dodaj
    </button>
  </div>
</form>