.modalImagePlaceholder {
    /* content: url(../../../assets/image-placeholder.jpg); */
    margin: 0 auto;
    border: 1px solid black
}

.caloricValue {
    padding-left: 10vw;
    padding-right: 10vw;
}

.example-full-width {
    width: 190px;
}

.m-checkbox {
    padding-left: 15px;
}


/* .radio-b {
    margin-right: 50px;
}

.mat-radio-label {
    margin-right: 50px;
} */

::ng-deep .mat-radio-persistent-ripple {
    display: none;
    height: 0;
}