<form class="modalContentContainer" [formGroup]="addProductForm">
  <h1 mat-dialog-title class="modalTitle">
    {{ title }}
    <div class="rightCross">
      <img
        class="cancelCross"
        (click)="onNoClick()"
        src="../../../assets/cancel.png"
        alt=""
      />
    </div>
  </h1>
  {{ addProductForm.value | json }}
  <div mat-dialog-content class="content">
    <section class="img">
      <div class="modalImagePlaceholder"></div>

     
      <mat-form-field class="" >
        <mat-label>Nazwa</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Jabłko"
        />
        <!-- <mat-error *ngIf="addProductForm.invalid">Nazwa jest wymagana</mat-error>
        <mat-error *ngIf="addProductForm.errors.pattern"
          >Dozwolone tylko litery</mat-error
        > -->
      </mat-form-field>
    </section>
    <section class="caloricValue">
      <label>Ilość: </label>
      <mat-slider formControlName="quantity"></mat-slider>
      <div class="units" formGroupName="units">
        <mat-checkbox class="m-checkbox"  formControlName="kg">KG</mat-checkbox>
        <mat-checkbox class="m-checkbox"  formControlName="g">G</mat-checkbox>
        <mat-checkbox class="m-checkbox"  formControlName="l">L</mat-checkbox>
        <mat-checkbox class="m-checkbox"  formControlName="mil">MIL</mat-checkbox>
      </div>

      <mat-form-field class="example-full-width">
        <mat-label>Waga: </mat-label>
        <input matInput formControlName="weight" type="number" placeholder="10" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Energia</mat-label>
        <input matInput formControlName="energy" type="number" placeholder="134kcl" />
        <span matSuffix>kcl</span>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Węglowodany</mat-label>
        <input matInput formControlName="carbohydrates" type="number" placeholder="125" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Białko</mat-label>
        <input matInput formControlName="proteines" type="number" placeholder="30g" />
        <span matSuffix>g</span>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Tłuszcze</mat-label>
        <input matInput formControlName="fat" type="number" placeholder="12g" />
        <span matSuffix>g</span>
      </mat-form-field>
    </section>
  </div>
  <div mat-dialog-actions style="justify-content: center">
    <button mat-raised-button [mat-dialog-close]="produkt" >Wczytaj dane z wagi</button>
    <button mat-raised-button color="primary" [disabled]="!addProductForm.valid"  (click)="submited()" cdkFocusInitial>
      Dodaj
    </button>
  </div>
</form>
